@model List<Category>
@{
    ViewData["Title"] = "Browse the Library";
}

<div>
    <h1 class="text-center">Browse the Library</h1>
    <p class="pb-5 pt-5 dataDisplay divider" style="border-bottom: 5px solid black; max-width: 75%">
        Use the topics below to browse the contents of the Library. Each topic toggles to reveal the specific articles 
        contained in that category. Follow the links to review a specific article.
    </p>
</div>

<div class="container pt-5">
    <div class="row dataDisplay">
        @if (Model.Count > 0)
        {
            foreach (Category c in Model)
            {
                <details class="col-4 p-3">
                    <summary class="p-1" style="font-size: x-large; font-weight: bolder">@c.Name</summary>
                    @foreach (Entry e in c.Entries)
                    {
                        <p><a asp-action="Reader" asp-controller="Browse" asp-route-id="@e.EntryId">@e.Title</a></p>
                    }
                </details>
            }
        }
        @*@if (Model.Count > 0)
        {
            List<int> seen = new List<int>();
            for (int i = 0; i < Model.Count; i++)
            {
                if (!seen.Contains(i))
                {
                    <details class="col-3 p-3">
                        <summary class="p-1" style="font-size: x-large; font-weight: bolder">
                            @Model[i].Category.Name
                        </summary>
                        <ul>
                            <li>
                                <a asp-action="Reader" asp-controller="Browse" asp-route-id="@Model[i].EntryId">@Model[i].Title</a>
                            </li>
                        
                        
                        @for (int j = i + 1; j < Model.Count; j++)
                        {
                            if (Model[j].CategoryId == Model[i].CategoryId)
                            {
                                <li>
                                    <a asp-action="Reader" asp-controller="Browse" asp-route-id="@Model[j].EntryId">@Model[j].Title</a>
                                </li>
                                seen.Add(j);
                            }
                        }
                        </ul>
                    </details>
                }
                
            }
        }*@
    </div>
</div>