@model Entry

@{
    ViewData["Title"] = @Model.Title;
}

<h1 class="text-center p-5">@Model.Title</h1>

<div>
      @foreach (string sentence in Model.Content)
      {
          if (sentence.StartsWith("**"))
          {
              <h6 class="dataDisplay pt-3">@sentence.Substring(2, sentence.Length - 4)</h6>
          }
          else if (sentence.Length < 60)
          {
              <h4 class="dataDisplay pt-3">@sentence</h4>
          }
          else
          {
              <p class="dataDisplay">@sentence</p>
          }
      }
</div>