@model Entry

@{
    ViewData["Title"] = "Temporary Database";
}

<div>
    <h1>Temporary Placeholder for the Data</h1>
    @if (Model.Contributor.UserName != null)
    {
    <p>
        Title: @Model.Title <br>
        Category: @Model.Category <br>
        Content: @Model.Content <br>
        Contributor: @Model.Contributor.UserName <br>
        Submission Date: @Model.SubmissionDate <br>
        Protected: @Model.Protected <br>
    </p>
    } else
    {
    <p>Have a story to contribute?</p>
    }
    <a asp-controller="Search" asp-action="ContributionForm" class="btn btn-success">Contribution Form</a>
</div>